<form>

  <table>
    <tr>
      <td>Estimated lines of code:</td>
      <td><input type="text" name="linesofcode" value="1000" id="linesofcode"></td>
    </tr>
  </table>

  <br />

  <table>
      <tr>
        <td>Required software reliability</td>
        <td>
          <select name="rating" id="rating">
                <option  value="0.75">Very Low (0.75)</option>
                <option  value="0.88">Low (0.88)</option>
                <option selected=&quot;selected&quot; value="1.0">Nominal (1.0)</option>
                <option  value="1.15">High (1.15)</option>
                <option  value="1.4">Very High (1.4)</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Size of application database</td>
        <td>
          <select name="rating" id="rating">
                <option  value="0.94">Low (0.94)</option>
                <option selected=&quot;selected&quot; value="1.0">Nominal (1.0)</option>
                <option  value="1.08">High (1.08)</option>
                <option  value="1.16">Very High (1.16)</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Complexity of the product</td>
        <td>
          <select name="rating" id="rating">
                <option  value="0.7">Very Low (0.7)</option>
                <option  value="0.85">Low (0.85)</option>
                <option selected=&quot;selected&quot; value="1.0">Nominal (1.0)</option>
                <option  value="1.15">High (1.15)</option>
                <option  value="1.3">Very High (1.3)</option>
                <option  value="1.65">Extra High (1.65)</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Run-time performance constraints</td>
        <td>
          <select name="rating" id="rating">
                <option selected=&quot;selected&quot; value="1.0">Nominal (1.0)</option>
                <option  value="1.11">High (1.11)</option>
                <option  value="1.3">Very High (1.3)</option>
                <option  value="1.66">Extra High (1.66)</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Memory constraints</td>
        <td>
          <select name="rating" id="rating">
                <option selected=&quot;selected&quot; value="1.0">Nominal (1.0)</option>
                <option  value="1.06">High (1.06)</option>
                <option  value="1.21">Very High (1.21)</option>
                <option  value="1.56">Extra High (1.56)</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Volatility of the virtual machine environment</td>
        <td>
          <select name="rating" id="rating">
                <option  value="0.87">Low (0.87)</option>
                <option selected=&quot;selected&quot; value="1.0">Nominal (1.0)</option>
                <option  value="1.15">High (1.15)</option>
                <option  value="1.3">Very High (1.3)</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Required turnabout time</td>
        <td>
          <select name="rating" id="rating">
                <option  value="0.87">Low (0.87)</option>
                <option selected=&quot;selected&quot; value="1.0">Nominal (1.0)</option>
                <option  value="1.07">High (1.07)</option>
                <option  value="1.15">Very High (1.15)</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Analyst capability</td>
        <td>
          <select name="rating" id="rating">
                <option  value="1.46">Very Low (1.46)</option>
                <option  value="1.19">Low (1.19)</option>
                <option selected=&quot;selected&quot; value="1.0">Nominal (1.0)</option>
                <option  value="0.86">High (0.86)</option>
                <option  value="0.71">Very High (0.71)</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Applications experience</td>
        <td>
          <select name="rating" id="rating">
                <option  value="1.29">Very Low (1.29)</option>
                <option  value="1.13">Low (1.13)</option>
                <option selected=&quot;selected&quot; value="1.0">Nominal (1.0)</option>
                <option  value="0.91">High (0.91)</option>
                <option  value="0.82">Very High (0.82)</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Software engineer capability</td>
        <td>
          <select name="rating" id="rating">
                <option  value="1.42">Very Low (1.42)</option>
                <option  value="1.17">Low (1.17)</option>
                <option selected=&quot;selected&quot; value="1.0">Nominal (1.0)</option>
                <option  value="0.86">High (0.86)</option>
                <option  value="0.7">Very High (0.7)</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Virtual machine experience</td>
        <td>
          <select name="rating" id="rating">
                <option  value="1.21">Very Low (1.21)</option>
                <option  value="1.1">Low (1.1)</option>
                <option selected=&quot;selected&quot; value="1.0">Nominal (1.0)</option>
                <option  value="0.9">High (0.9)</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Programming language experience</td>
        <td>
          <select name="rating" id="rating">
                <option  value="1.14">Very Low (1.14)</option>
                <option  value="1.07">Low (1.07)</option>
                <option selected=&quot;selected&quot; value="1.0">Nominal (1.0)</option>
                <option  value="0.95">High (0.95)</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Application of software engineering methods</td>
        <td>
          <select name="rating" id="rating">
                <option  value="1.24">Very Low (1.24)</option>
                <option  value="1.1">Low (1.1)</option>
                <option selected=&quot;selected&quot; value="1.0">Nominal (1.0)</option>
                <option  value="0.91">High (0.91)</option>
                <option  value="0.82">Very High (0.82)</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Use of software tools</td>
        <td>
          <select name="rating" id="rating">
                <option  value="1.24">Very Low (1.24)</option>
                <option  value="1.1">Low (1.1)</option>
                <option selected=&quot;selected&quot; value="1.0">Nominal (1.0)</option>
                <option  value="0.91">High (0.91)</option>
                <option  value="0.83">Very High (0.83)</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Required development schedule</td>
        <td>
          <select name="rating" id="rating">
                <option  value="1.23">Very Low (1.23)</option>
                <option  value="1.08">Low (1.08)</option>
                <option selected=&quot;selected&quot; value="1.0">Nominal (1.0)</option>
                <option  value="1.04">High (1.04)</option>
                <option  value="1.1">Very High (1.1)</option>
          </select>
        </td>
      </tr>
  </table>
  <br />
  <input type="button" value="Calculate" onclick="calculate();" >
  <br />


  <table>
    <tr>
      <th>Calculated effort:</th>
    </tr>
    <tr>
      <td>organic:</td>
      <td><input type="text" name="organic" value="" id="organic"></td>
    </tr>
    <tr>
      <td>semidetached:</td>
      <td><input type="text" name="semidetached" value="" id="semidetached"></td>
    </tr>
    <tr>
      <td>embedded:</td>
      <td><input type="text" name="embedded" value="" id="embedded"></td>
    </tr>
  </table>
</form>

<!-- 
<form>
  <table>
    <tr>
      <td>Estimated lines of code:</td>
      <td><input type="text" name="linesofcode" value="1000" id="linesofcode"></td>
    </tr>
  </table>

  <br />

  <table>
    <% @ratings.each do |row| %>
      <tr>
        <td><%= row.last %></td>
        <td>
          <select name="rating" id="rating">
            <% row.each_with_index do |value, i| %>
              <% if value != 0.00 and i < 6 %>
                <option <%= 'selected="selected"' if i == 2  %> value="<%=value%>"><%=@rating_headers[i] + " (" + value.to_s + ")" %></option>
              <% end %>
            <% end %>
          </select>
        </td>
      </tr>
    <% end %>
  </table>
  <br />
  <input type="button" value="Calculate" onclick="calculate();" >
  <br />


  <table>
    <tr>
      <th>Calculated effort:</th>
    </tr>
    <tr>
      <td>organic:</td>
      <td><input type="text" name="organic" value="" id="organic"></td>
    </tr>
    <tr>
      <td>semidetached:</td>
      <td><input type="text" name="semidetached" value="" id="semidetached"></td>
    </tr>
    <tr>
      <td>embedded:</td>
      <td><input type="text" name="embedded" value="" id="embedded"></td>
    </tr>
  </table>
</form> -->